@font-face {
    font-family: Dongle;
    src: url(../../assets/Fonts/Dongle-Bold.ttf);
}

@font-face {
    font-family: DoppioOne;
    src: url(../../assets/Fonts/DoppioOne-Regular.ttf);
}

// Variables

// Fonst
$f_Dongle: Dongle;
$f_DoppioOne: DoppioOne;